* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100vh;
  margin: 0;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: auto;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.effect-stroke {
  color: #fff;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #000;
}
